<div class="col-app lock-wrapper lock-bg-1 tab-pane active animated fadeIn" id="lock-1-1" style="padding-top: 50;">
    <h3 class="innerB text-center">Accesso Utente</h3>
    <div class="lock-container">
        <div class="innerAll text-center">

					<img src="assets/images/logo/Login_ngi.png" />
					<div class="innerLR">
<input type="text" class="form-control" id="username" placeholder="Username" ng-model="user.username">
<input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password">

					</div>
					<div class="innerT">
							<button type="submit" class="btn btn-primary" ng-click="login()">Accedi <i class="fa fa-fw fa-unlock-alt"></i></button>
					</div>
					<div class="separator"></div>

        </div>
    </div>
	
		<div class="container" style="margin-top: 30px;">
	    <div class="alert alert-info">
        <p class="text_smaller">Per richiesta di informazioni e/o assistenza sull'utilizzo del portale web è possibile inviare una mail all'indirizzo <a href="mailto:webmaster@network-giovani.net">webmaster@network-giovani.net</a> o mediante pec <a href="mailto:info@pec.network-giovani.net">info@pec.network-giovani.net</a></p>
    </div>
	</div>
</div>
