<div class="innerAll" data-ng-controller="gruppiCtr as vm">
    <h3>Officine <span>| elenco gruppi di lavoro</span></h3>

	<!--
    <div class="alert alert-info">
        <p>
            <i class="fa fa-2x fa-info-circle"></i> Per creare un gruppo di lavoro utilizzare la voce <a href="#/profilo/officina" class="text-info"><b>Le mie Officine</b></a> presente nella sezione <span class="text-info"><b>Area Utente</b></span>.
        </p>
    </div>
-->
    <div class="input-group innerB">
        <input type="text" class="form-control " placeholder="Cerca..." data-ng-model="vm.filter">
        <div class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></div>
    </div>

    <!-- Widget -->
    <div class="widget widget-body-white widget-heading-simple">
        <div class="widget-body">
            <!-- Table -->
            <table class="table table-striped table-responsive">

                <!-- Table heading -->
                <thead class="bg-gray">
                    <tr>
                        <th>Officina</th>
                        <th>Coordinatore</th>
                        <th class="hidden-md">Descrizione</th>
                        <th>Dettaglio</th>
                    </tr>
                </thead>
                <!-- // Table heading END -->
                <!-- Table body -->
                <tbody>
                    <!-- Table row -->
                    <tr class="gradeX" data-ng-repeat="g in vm.gruppi | filter:vm.filter">
                        <td>{{ g.nome }}</td>
                        <td>{{ g.coordinatore.nominativo }}</td>
                        <td class="hidden-md">{{ g.descrizione}}</td>
                        <td><a href="#/ngi/officina/{{ g._id }}" class="btn btn-primary">scheda</a></td>
                    </tr>
                    <!-- // Table row END -->

                </tbody>
                <!-- // Table body END -->

            </table>
            <!-- // Table END -->


        </div>
    </div>
    <!-- // Widget END -->
</div>